
a:link {
    color: CornflowerBlue;
}

a:visited {
    color: orchid;
}

a:active {
    color: salmon;
}

a:hover {
    color: lavenderblush;
}

body {
    background-image: url("../img/bg2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div {
    padding: 1em;
}

.container {
    
    display: grid;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
}

.header {
    place-self: center;
    font-family: Arial;
    font-size: 40px;
    color: white;
}

.main {
    place-self: center;
    background-color: rgb(0, 0, 16, 0.6);
    border: 2px solid black;
    padding: 2em;
    padding-inline: 12em;
    backdrop-filter: blur(3px);

    font-family: "Franklin Gothic Regular", "Arial Narrow", Arial, sans-serif;

    text-decoration: none;
    color: white;
}
